.page-title-box {
  padding-bottom: 24px;
}

.breadcrumb {
  background-color: transparent;
}

.upload-user-image {
  width: 200px;
  height: 200px;
}

.img-wrapper {
  border: none;
}

.avatar-128 {
  max-height: 128px;
  width: 128px;
  height: 100%;
  font-size: 85px;
  line-height: 128px;
}
